doctype 5
html
  head
    title Index
    meta(charset='utf-8')
    //- script(src='http://192.168.1.19:7777/doodle.js')
    :coffeescript
      place = ->
        console.log 'drawing'
        wrap = document.querySelector '#wrap'
        h = wrap.offsetHeight
        all_h = innerHeight
        if h < all_h
          wrap.style.marginTop = "#{(all_h - h) / 2 * 0.6}px"
      window.onresize = place
      window.onload = place
    :stylus
      body
        margin 0px
        padding 0px
        font-family "Helvetica Neue", 'wenquanyi micro hei', Helvetica, Arial,
          sans-serif

      a
        text-decoration none
        color hsl(240,80,80)

      #wrap
        width 600px
        margin 0px auto

        hh
          color gray
          font-size 30px
          color hsl(240,60,90)

        #list
          margin 40px 0px

          .item
            margin 20px 0px

            .title
              font-size 19px

          .intro
            p
              margin 20px
              font-size 14px
              padding-left 20px
              color hsl(0,0,60)
  body
    #wrap
      hh 题叶
      #list
        .item
          .title: a(href='01-shell-with-card/page') 关于 Shell 和界面的想法
          .intro: p 未来的网络是城市
        .item
          .title: a(href='02-div-nested/page') 嵌套的 Div
          .intro: p 网页的形态应该是嵌套的
        .item
          .title: a(href='03-why-learning/page') 为什么要学
          .intro: p 我关于编程的困惑和现状
        .item
          .title: a(href='04-cirru-project/page') 关于 Cirru Project 的意图
          .intro: p Cirru 是一门语法少于 Lisp 的语言
        .item
          .title: a(href='05-language-goal/page') 关于编程语言我到达的瓶颈
          .intro: p OOP 和 FP 之间的徘徊
        .item
          .title: a(href='06-use-gfm-please/page') 大家支持 GFM 吧
          .intro: p GFM 功能介绍和心得
        .item
          .title: a(href='07-years-pasted/page') 过去的很多年
          .intro: p 想到很多惨痛的事情, 晚上不太安心, 于是码 HTML..
        .item
          .title: a(href='08-coder-news/page/') Fake Coder News
          .intro: p 关于 Coder News 一些牢骚记录在这里
        .item
          .title: a(href='09-willow/') 柳线
          .intro: p 关于一套文本格式的说明
        .item
          .title: a(href='')
          .intro: p