body {
  margin: 0px;
  font-size: 30px;
  font-family: 'wenquanyi micro hei';
}
#wrap {
  width: 980px;
  margin: 0px auto;
  padding: 80px 10px 400px;
}
#logo {
  background: rgba(212,212,247,0.8);
}
