
*
  box-sizing border-box

body
  margin 0px
  background hsl(140,6,60)
  font-family 'wenquanyi micro hei', 'microsoft yahei'
  word-spacing 0.6em

#wrap
  width 940px
  margin 0px auto
  background white
  padding 20px 40px 400px
  font-size 18px

.header
  text-align center
  font-size 30px
  margin 60px

.card
  width 100%
  // height 400px
  background hsl(0,0,90)
  margin 20px 0px
  font-size 24px
  box-shadow 0px 0px 20px hsl(0,0,80)

  .list
    background hsl(0,0,80)
    -webkit-box-flex 2

  .home
    background hsl(0,80,80)
    -webkit-box-flex 1

a, code
  margin 0px 6px
  border-radius 3px
  padding 2px 6px
  color

a
  color hsl(240,80,80)
  text-decoration none
  background hsl(240,90,98)

a.img
  margin 10px 0px

code
  background hsl(240,90,97)

  pre
    display inline

#card-1, #card-4
  display -webkit-box
  -webkit-box-orient horizontal
  position relative

  #mask
    position absolute
    left 0px
    width 100%
    height 100%
    background hsla(330,20,30,0.5)

    .uri
      font-size 16px
      box-shadow 0px 0px 20px white
      top 150px
      position absolute

    .hint-info
      font-size 25px
      left 100px
      box-shadow 0px 0px 40px white

    .hint-list
      font-size 25px
      left 540px

    .hint-item
      top 20px
      left 600px
    #hint-item2
      top 80px
    #hint-item3
      top 270px
    
.list-item
  display -webkit-box
  -webkit-box-orient horizontal
  color white
  margin 4px 0px
  
  .logo
    -webkit-box-flex 1
    width 60px
    height 60px
    background hsl(240,80,80)
    padding 10px

  .text
    -webkit-box-flex 3
    padding 10px
    background hsl(0,80,90)

.home
  padding 10px
  color gray

  .less-info
    display -webkit-box
    -webkit-box-orient horizontal
    background hsl(0,0,90)

    .logo
      -webkit-box-flex 1
      background hsl(80,90,90)
      padding 20px

    .words
      -webkit-box-flex 1
      padding 5px 40px

      p
        margin 5px 0px

  .more-info
    background hsl(0,0,100)
    margin 10px 0px
    padding 10px

.drag-area
  display -webkit-box
  background hsl(0,0,95)
  padding 10px
  color hsl(240,90,70)
  -webkit-box-orient horizontal

  .page, .out
    -webkit-box-flex 1

  .inside, .others
    background hsl(240,90,90)
    margin 20px 0px
    padding 10px

  .inside
    height 130px

  #can-drag
    width 100px
    height 80px
    background hsl(0,60,80)
    padding 10px
    position absolute
    color white
    -webkit-animation breath 4s infinite ease-in-out
    border-radius 8px

.img
  display block

  img
    margin 10px auto
    display block
    border 12px solid hsl(0,0,90)
    box-shadow 0px 0px 20px gray

.section
  margin 30px 0px

  p
    margin 0px
    padding 10px 0px

@-webkit-keyframes breath
  0%
    box-shadow 0px 0px 0px white
  50%
    box-shadow 0px 0px 70px white
  100%
    box-shadow 0px 0px 0px white

.uri
  background hsl(300,80,30)
  color white
  border-radius 4px
  font-family monospace
  font-weight bold
div.uri
  padding 10px 40px
span.uri
  padding 2px 6px
  margin 0px 4px

ul
  margin 0px
  padding-left 60px

  li
    list-style-type upper-roman
    line-height 40px

#arch
  display -webkit-box
  -webkit-box-orient horizontal
  text-transform capitalize

  .implement
    -webkit-box-flex 2
  .script
    -webkit-box-flex 1
  .env
    background hsl(240,80,90)
    margin 10px
    padding 10px
  .core, .files
    display -webkit-box

    div
      background hsl(90,80,70)
      margin 10px
      padding 10px
      -webkit-box-flex 1

  .script
    background hsl(0,80,80)
    margin 10px
    padding 10px

#disqus_thread
  margin-top 200px