
body
  font-size 18px
  width 800px
  margin 0px auto
  font-size 'wenquanyi micro hei', 'microsoft yahei'
  word-spacing 6px
  padding-bottom 400px
  text-shadow 0px 0px 1px hsl(0,0,80)
  letter-spacing 1px

#title
  font-size 50px
  margin 100px -100px

.paragraph
  margin 60px 0px

  code
    background hsl(0,0,94)
    padding 6px 8px
    margin 0px 8px
    border-radius 6px
    font-family 'monospace'
    word-spacing 0px
  p
    padding 9px 0px
    margin 0px
  p:hover, .clicked
    background hsl(0,0,94)

    code, a
      background hsl(0,0,87)

a
  text-decoration none
  text-transform capitalize
  margin 0px 6px
  background hsl(0,0,94)
  padding 4px 8px
  border-radius 4px
  font-size 'wenquanyi micro hei', 'microsoft yahei'

.pre
  line-height 30px
  padding 10px
  color hsl(0,0,40)
  background hsl(240,50,97)
  margin 0px
  font-family monospace

  .indent
    padding-left 136px

  #indent2
    margin-left 34px

.color-string
  color hsl(60,50,70)
.color-key
  color hsl(240,70,70)
.color-bracket
  color hsl(320,90,60)
.color-slash
  color hsl(120,70,70)

#disqus_thread
  margin-top 200px