mixin disqus
  #disqus_thread
    script(type="text/javascript")
      /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
      var disqus_shortname = 'jiyinyiyong';
      // required: replace example with your forum shortname

      /* * * DON'T EDIT BELOW THIS LINE * * */
      (function() {
          var dsq = document.createElement('script');
          dsq.type = 'text/javascript';
          dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          if (document.getElementsByTagName('head')[0]) {
            document.getElementsByTagName('body')[0].appendChild(dsq);
          }
      })();
    noscript
      span Please enable JavaScript to view the
      a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
    a.dsq-brlink(href="http://disqus.com")
      span comments powered by
      span.logo-disqus

mixin pair(n)
  - var editor_name = 'editor-' + n
  - var result_name = 'result-' + n
  .pair
    .cirru-editor(id='#{editor_name}')
    .result(id="#{result_name}")

doctype 5
html
  head
    title template
    meta(charset='utf-8')
    script(src='http://192.168.1.104:7777/doodle.js')
    link(rel='stylesheet',href='page.css')
    link(rel='stylesheet',href='../../../cirru/cirru-editor/src/cirru-editor.css')
    script(src='../../../cirru/cirru-editor/sea-modules/seajs/1.3.0-dev/sea.js')
    script
      seajs.use('./handle')
      seajs.use('./editor')
  body
    #wrap
      canvas(width='960px',height='400px')#logo
      .title 关于 cirru project 的意图
      p 早时候想学写解释器, 因为学一门语言适应别人的习惯其实很难, 不如自己做一遍
      p 马上就会发现这很难, 于是很多时光的烦恼和消磨, 偶然有所得, 努力记录在这里
      p
        span 细节的内容我会在
        a(href='https://github.com/jiyinyiyong') Github
        span 上写更多的细节, 这里主要是已经实现的部分的文档记录
      p 希望我之前的努力能带给别人方便, 更主要希望能减轻自己的困境
      p
        span 代码看
        a(href='https://github.com/jiyinyiyong/cirru-editor') cirru-editor
        span 和
        a(href='https://github.com/jiyinyiyong/cirru-eval') cirru-eval
        span 两个部分, 代码借助
        a(href='http://seajs.org/') SeaJS
        span 组织和拼接到一起
      p 虽然说解释器, 主题还是对于 JS 各种数据类似的封装, 会 JS 的话直接开始看例子吧
      .title 关于编辑器的使用
      p 如果感兴趣, 可以下载编辑器模块代码, 参考例子搭建. 这里讲界面用法
      p
        span 方向键和几个
        code ctrl+
        span 的复制粘贴案件我模拟了一下, 另外
        code ctrl+m
        span 用来输入中文
      p 点击一块变成蓝色之后, 按下字母数字就能看到反应, 而回车键用来创建嵌套
      p 嵌套是 Cirru 的核心. 方向键和翻页键实现不够强大, 实际上频繁被用到
      p 编辑了代码之后, 点击对应红色查看运行结果. 只能算个例子吧, 很多情况会出错的
      p
        span 输出的结果是
        code global
        span 作用域当中的内容, 另外就是一数字形式输出的
        code print
        
      .title 基本的字符串数字和打印
      p Cirru 不用符号来区别不同的数据类型, 需要用单词声明其对应 JS 的类型
      mixin pair(0)
      
      .title 设置修改变量以及运算
      p 对于变量没有等号语法, 相对于 Scheme 这个还是好理解的, 这样再来运算
      mixin pair(1)
      mixin pair(2)

      mixin
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
      
