doctype 5
html
  head
    title evel dev
    meta(charset='utf-8')
    link(rel='stylesheet',href='page.css')
    link(rel='stylesheet',href='../../cirru-editor/src/cirru-editor.css')
    script(src='http://192.168.1.104:7777/doodle.js')
    script(src='../sea-modules/seajs/1.3.0-dev/sea.js')
    script
      seajs.use('./test');
  body
    #writer.cirru-editor
    #debug