body {
  margin: 0px;
  font-size: 20px;
}
@font-face {
  font-family: "montserrat";
  src: url("../fonts/montserrat.woff") format("woff");
}
* {
  box-sizing: border-box;
}
body {
  background: #fafafa;
  font-family: "montserrat", "wenquanyi micro hei";
  width: 1300px;
}
#wrap {
  margin: 0px auto;
  width: 1000px;
  box-shadow: 0px 0px 2px #b3b3b3;
  padding: 20px 40px 200px;
  text-align: center;
}
#wrap .title {
  font-size: 30px;
  margin: 40px 0px;
}
#wrap a {
  color: #474785;
  text-decoration: none;
}
#wrap img {
  max-width: 800px;
  margin: 20px auto;
  box-shadow: 0px 0px 20px #7a5f52;
}
#disqus_thread {
  margin: 200px 0px 0px;
}
