
doctype 5
html
  head
    title Coder News
    meta(charset="utf-8")
    link(rel="stylesheet", href="page.css")
    script(src="build.js")
    script(src="http://192.168.1.14:7777/doodle.js")
  body
    #home
      #list
      #picture
    #post
      #show
      #title
      #comments
      #back