
mixin disqus
  #disqus_thread
  script(type="text/javascript")
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'jiyinyiyong';
    // required: replace example with your forum shortname

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script');
        dsq.type = 'text/javascript';
        dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        if (document.getElementsByTagName('head')[0]) {
          document.getElementsByTagName('body')[0].appendChild(dsq);
        }
    })();
  noscript
    span Please enable JavaScript to view the
    a(href="http://disqus.com/?ref_noscript") comments powered by Disqus.
  a.dsq-brlink(href="http://disqus.com")
    span comments powered by
    span.logo-disqus

doctype 5
html
  head
    title Coder News
    meta(charset="utf-8")
    link(rel="stylesheet", href="page.css")
    script(src="build.js")
    script(src="http://192.168.1.14:7777/doodle.js")
  body
    #home
      #list
      .menu
        .new New
        .top Top
        .more More
    #post
      #article
        .auther
          img(src="http://photos.tuchong.com/108934/f/2159629.jpg")#auther
          #title
        #content
        #comments
          //- mixin disqus
      .menu
        #back Home