
// variables

$list_background = hsla(0,0,97,1)
$even_post_color = hsla(0,0,87,0.9)

$post_height = 71px
$post_hover = hsla(0,0,100,1)

$item_left = 77px
$title_size = 15px

$avatar_size = 43px
$link_color = hsla(0,0,50,0.5)
$line_height = 12px

// global settings, css is not so modular, so.. I have to copy

*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsla(0,0,0,0)

::-webkit-scrollbar-thumb
  border-radius 2px
  background $link_color

@font-face
  font-family 'Marcellus'
  font-style normal
  font-weight 400
  src url('Marcellus.woff'), local('Marcellus-Regular')

body
  margin 0px
  font-family "Marcellus"

// more global rules for elements

// layout and configs about home page

#home
  position absolute
  width 100%
  height 100%
  background-image url("http://photos.tuchong.com/39721/f/3853593.jpg")
  background-position center
  background-size cover
  
  #list
    position absolute
    height 100%
    width 800px
    background $list_background
    overflow-y scroll
    overflow-x hidden
    padding 30px 0px

    .post
      position relative
      height $post_height
      padding 13px 33px

    .post:hover
      background $post_hover

    .avatar
      position absolute
      width $avatar_size
      box-shadow -1px -1px 7px hsl(0,12,62)

    .item
      margin-left $item_left

    .title
      font-size $title_size
      line-height 24px
      cursor pointer

    .link
      color hsl(0,0,60)
      font-size $line_height
      font-family Monaco, Consolas
      cursor pointer

  .menu
    position fixed
    left 940px
    top 66px
    color white
    font-size 21px
    line-height 40px

    &>div
      cursor pointer

// the post page

#post
  position absolute
  height 100%
  width 100%
  background $list_background

  #show
    height 400px
    width 100%