
// variables

$list_background = hsla(0,0,97,1)

$post_height = 71px
$post_hover = hsla(0,0,100,1)

$item_left = 77px
$title_size = 15px

$avatar_size = 43px
$link_color = hsla(0,0,60,0.4)
$line_height = 12px

// global settings, css is not so modular, so.. I have to copy

*
  box-sizing border-box

::-webkit-scrollbar
  width 4px
  height 4px

::-webkit-scrollbar-track
  width 4px
  background hsla(0,0,0,0)

::-webkit-scrollbar-thumb
  border-radius 2px
  background $link_color

@font-face
  font-family 'Marcellus'
  font-style normal
  font-weight 400
  src url('Marcellus.woff'), local('Marcellus-Regular')

body
  margin 0px
  font-family "Marcellus"

// shared styles for both pages

#home, #post
  position fixed
  width 100%
  height 100%
  background-position center
  background-size cover
  overflow-y scroll

#list, #article
  width 800px
  background $list_background
  overflow-y scroll
  overflow-x hidden
  padding 100px 0px
  margin 300px 0px 700px
  box-shadow 0px 0px 6px hsl(0,0,70)

// layout and configs about home page

#home
  background-image url("http://photos.tuchong.com/39721/f/3853593.jpg")

  #list
    .post
      position relative
      height $post_height
      padding 13px 33px

    .post:hover
      background $post_hover

    .avatar
      position absolute
      width $avatar_size
      box-shadow -1px -1px 7px hsl(0,12,62)

    .item
      margin-left $item_left

    .title
      font-size $title_size
      line-height 24px
      cursor pointer

    .link
      color $link_color
      font-size $line_height
      font-family Monaco, Consolas
      cursor pointer

// the post page

#post
  -webkit-transition-duration 0.4s
  -webkit-transition-property opacity
  z-index 1
  background-color $list_background

  #article
    padding 100px 33px

  #auther
    width 43px
    box-shadow -1px -1px 7px hsl(0,12,62)
    vertical-align middle

  #title
    font-size 20px
    margin-left 40px
    display inline-block
    vertical-align middle

  #content
    margin 54px 0px 143px
    line-height 34px

    a
      text-decoration none
      color hsl(240,80,60)

// the menu

.menu
  position fixed
  left 940px
  top 66px
  color white
  font-size 21px
  line-height 40px
  text-shadow 0px 0px 4px hsl(0,0,20)

  &>div
    cursor pointer